<a href="https://colab.research.google.com/github/silpa4h-crypto/pgm-python-sept/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def functionname():
  statements
  statements
  statements
  return result

  functionname()

In [ ]:
def greet():
  print("Hello welcome to kerala")
  print("How can I help you?")

In [ ]:
greet()

Hello welcome to kerala
How can I help you?

In [ ]:
greet()

Hello welcome to kerala
How can I help you?

In [ ]:
def greet(name, timeofday):
   print(f" {timeofday}, {name}, welcome to kerala")
   print("How can I help you?")

In [ ]:
visitor_name=input("please enter your name :")
greet(visitor_name,"morning")

please enter your name :maya
 morning, maya, welcome to kerala
How can I help you?

In [ ]:
visitor_name=input("please enter your name :")
greet(visitor_name,"morning")

please enter your name :malu
 morning, malu, welcome to kerala
How can I help you?

In [ ]:
visitor_name=input("please enter your name :")
greet(visitor_name,"afternoon")

please enter your name :ammu
 afternoon, ammu, welcome to kerala
How can I help you?

In [ ]:
from datetime import datetime
cur_time=datetime.now()
print(cur_time)

2025-10-11 05:29:56.439046

In [ ]:
from datetime import datetime

def greetwithTime(name):
   cur_time = datetime.now().hour

  if cur_time >= 0 and cur_time < 12:
   timeofday = "Good Morning"
  elif cur_time >= 12 and cur_time < 16:
    timeofday = "Good Afternoon"
  else:
    timeofday = "Good Evening"

  print(f"Hello {name} {timeofday}, Welcome to India")
  print("How May I help you")



visitor_name = input("enter your name:")
greetwithTime(visitor_name)

enter your name:malu
Hello malu Good Morning, Welcome to India
How May I help you

In [ ]:
def intro(name,age,place):
   print(f"Hello {name} you are {age} years old and you are from {place}")

intro("anju", 25 , "Cochin")

Hello anju you are 25 years old and you are from Cochin

In [ ]:
def intro(name,age,place):
   print(f"Hello {name} you are {age} years old and you are from {place}")


intro("anju", 20 , "Cochin")

Hello anju you are 20 years old and you are from Cochin

In [ ]:
def intro(name,age,place):
   print(f"Hello {name} you are {age} years old and you are from {place}")

intro("anju", 20 , "Cochin")

intro(age=20,name="anju" ,place="Cochin")

Hello anju you are 20 years old and you are from Cochin
Hello anju you are 20 years old and you are from Cochin

In [ ]:
import statistics as stat

def createStatSummary(data):
  mean_val = stat.mean(data)
  median_val = stat.median(data)
  mode_val = stat.mode(data)
  print(f"Mean = {mean_val} median = {median_val} mode={mode_val}")

numbers = [10,20,30,15,13,20,40,45,22,34,56,90,25]
createStatSummary(numbers)

Mean = 32.30769230769231 median = 25 mode=20

In [ ]:
import statistics as stat

def createStatSummary(data):
  mean_val = stat.mean(data)
  median_val = stat.median(data)
  mode_val = stat.mode(data)
  return mean_val, median_val, mode_val

numbers = [10,20,30,15,20,40,45,22,20,65,32,34,30]

mean_v, median_v, mode_v = createStatSummary(numbers)

print(f"Mean: {mean_v}")
print(f"Median: {median_v}")
print(f"Mode: {mode_v}")

Mean: 29.46153846153846
Median: 30
Mode: 20

In [ ]:
import statistics as stat

def createStatSummary(data):
   mean_val = stat.mean(data)
   median_val = stat.median(data)
   mode_val = stat.mode(data)
   print(mean_val)
   return mean_val

numbers = [10,20,30,15,20,40,45, 22, 20,65,32,34,30]
mean_v = createStatSummary (numbers)

if mean_v > 30:
   print("Mean is greater than 30")
else:
   print("Mean is less than 30")

29.46153846153846
Mean is less than 30

In [ ]:
def intro(name,age,place):
   print(f"Hello {name} you are {age} years old and you are from {place}")

intro("anju",20,"Unknown") # Added a default value for place
intro("Anna",20,"Trivandrum")

Hello anju you are 20 years old and you are from Unknown
Hello Anna you are 20 years old and you are from Trivandrum

In [ ]:
def total_bill(itemprice,itemqty,itemdiscount=0.1,taxpercent=0.18):
  bill_amt = itemprice * itemqty * (1-itemdiscount)
  total_bill_amt = bill_amt + bill_amt*taxpercent
  return total_bill_amt

  #total-bill(1000,2,.15)
total_bill(1000,2)

2124.0

In [ ]:
def make_pizza(*toppings):

  print("pizza with the toppings:")

  for top in toppings:
    print("-",top)

  print("Total toppings ", len(toppings))

make_pizza("cheese","onions","capsicum","corn","chicken")

# make_pizza("cheese", "onions", "capsicum")

# make_pizza("cheese", "onions", "capsicum", "corn", "chicken")

pizza with the toppings:
- cheese
- onions
- capsicum
- corn
- chicken
Total toppings  5

In [ ]:
def make_pizza(*toppings):

   print(type(toppings))

   print(f"The toppings for the pizza are {toppings}")

   for top in toppings:

      print("-",top)

   print("total toppings ", toppings)

# make_pizza("cheese")

make_pizza("cheese", "onions", "capsicum")

#make_pizza("cheese", "onions", "capsicum", "olives")

<class 'tuple'>
The toppings for the pizza are ('cheese', 'onions', 'capsicum')
- cheese
- onions
- capsicum
total toppings  ('cheese', 'onions', 'capsicum')

In [ ]:
def create_profile(**details):
    print("profile details")
    print("----------------")
    for k,v in details.items():
        print(f"{k}:  {v}")
    print("----------------")



create_profile(name="anju",age=20,place="cochin")
create_profile(name="balu",age=24,graduation="BTech" ,Score=4.5)
create_profile(name="veena",age=28,course="BArch", place="trivandrum")

profile details
----------------
name:  anju
age:  20
place:  cochin
----------------
profile details
----------------
name:  balu
age:  24
graduation:  BTech
Score:  4.5
----------------
profile details
----------------
name:  veena
age:  28
course:  BArch
place:  trivandrum
----------------

LAMDA

In [ ]:
add = lamda x,y:x+y
add(5,12)

17

In [ ]:
price = [100,150,120,200,250]

disc_prices = list( map(lambda x : x*.9,price))
disc_prices

[90.0, 135.0, 108.0, 180.0, 225.0]

In [ ]:
low_vals = list(filter(lambda x : x<150,disc_prices))
low_vals

[90.0, 135.0, 108.0]