<a href="https://colab.research.google.com/github/silpa4h-crypto/pgm-python-sept/blob/main/OCT5PGM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Write a python function to find the product of 2 numbers.**

In [11]:
def multiply_numbers(a,b):
    product=a*b
    return product

num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
result=multiply_numbers(num1,num2)

print("the product is:",result)

enter first number:5
enter second number:2
the product is: 10.0

**2.Write a python program to check if the entered string is palindrome or
not. Get the input string from user (A palindrome is a word, phrase,
number, or sequence of characters that reads the same backward as
forward)bold text**

In [10]:
text=input("enter a string:")

if text == text[::-1]:

   print("palindrome")

else:

   print("not palindrome")

enter a string:malayalam
palindrome

**3.Write a python program to check if the given number is divisible by 9**

In [9]:
num=int(input("enter a number:"))
if num%9==0:
  print("the number is divisible by 9")
else:
  print("the number is not divisible by 9")

enter a number:30
the number is not divisible by 9

**4.Write a python program to print odd numbers between 300 and 500**

In [12]:
for num in range(300,501):
  if num%2!=0:
    print(num)

301
303
305
307
309
311
313
315
317
319
321
323
325
327
329
331
333
335
337
339
341
343
345
347
349
351
353
355
357
359
361
363
365
367
369
371
373
375
377
379
381
383
385
387
389
391
393
395
397
399
401
403
405
407
409
411
413
415
417
419
421
423
425
427
429
431
433
435
437
439
441
443
445
447
449
451
453
455
457
459
461
463
465
467
469
471
473
475
477
479
481
483
485
487
489
491
493
495
497
499

**5.Get two numbers from user and print their sum, difference, product
and quotient after division**

In [14]:
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))

sum_result=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print("sum:,sum_result")
print("difference:",difference)
print("product:",product)
print("quotient:",quotient)

enter first number:10
enter second number:5
sum:,sum_result
difference: 5.0
product: 50.0
quotient: 2.0